body {
    background-color: rgb(207, 231, 141);
}

ul {
    list-style-type: square
}

img.gnome {
    border-radius: 99%;
}

hr {
    width: 95%;
    border-style: dotted none none;
    border-width: 0.4rem;
    border-color: rgb(147, 224, 75)
}